<html>

<h1>Ahorcado</h1><br>
	<form method=post action='validar'>
		<input type=text name='intento'>
		<input type=submit value='Verificar' name='verificar'><br>
		<p>Intentos Restantes: <%=$intentos%></p>
	</form>


<!--<form method=post action='validar'>
<input type=number name='numero' id='numero'>
<input type=submit value='Validar' name='boton' id='boton'><br><br>

<b><% if @exito then %> Ganaste ñe! <% else %>Siga intentando!<%end%></b>
</form>-->
</html>
